.card {
    display: inline-block;
    width: calc(33.33% - 20px);
    min-height: 200px;
    min-width: 290px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #A2A3A4;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 18px;
}

.card-author {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-status {
    margin-bottom: 15px;
    text-align: left;
}

.author-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

.star, .eye {
    display: inline-flex;
    margin-right: 40px;
}

.star-img {
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    margin-right: 18px;
    background: url('../../assets/img/star.png');
}

.eye-img {
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    margin-right: 18px;
    background: url('../../assets/img/eye.png');
}

.card-edit {
    width: 100%;
    display: flex;
}

.card-edit input {
    width: calc(100% - 63px);
    height: 54px;
    border: 1px solid #A2A3A4;
    padding-left: 15px;
    border-radius: 7px 0 0 7px;
    outline: none;
}

.card-edit input:focus {
    border-left: 2px solid #00A3FF;
    border-top: 2px solid #00A3FF;
    border-bottom: 2px solid #00A3FF;
}

.edit {
    width: 63px;
    height: 54px;
    background: url('../../assets/img/edit-icon.png');
    border: none;
    border-radius: 0 7px 7px 0;
}

@media(min-width: 320px) {
    .card {
        width: 100%;
    }
}

@media(min-width: 650px) {
    .card {
        width: calc(50% - 40px)
    }
}

@media(min-width: 1024px) {
    .card {
        width: 290px
    }
}